@import '~antd/es/style/themes/default.less';

.bus_container {
  width: 800px;
  min-height: 60px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 20px;
}

.box{
   padding: 10px;
   .title{
    font-size: 14px;
    text-decoration: line;
    color: rgba(0, 0, 0, 0.85);
  }
  
  .rt_content{
    display: flex;
    line-height: 30px;
    position: relative;
    .labelName{
      width: 100px;
    }
  }
  .newStore{
    display: flex;
  }
  .addStoreBt{
    position: absolute;
    left: 320px;
    top: -2px;
  }
}
.contentSpeceTop {
  padding-top: 10px;
}

.titleFontStyle {
  &:extend(.contentSpeceTop);
  font-size: 20px;
  font-weight: bold;
}

.contentFontStyle {
  &:extend(.contentSpeceTop);

  font-size: 15px;
}

.contentKeyStyle {
  &:extend(.contentFontStyle);
  font-weight: bold;
}
